<!-- We can help you ...-->
<div class="container">
  <div class="jumbotron">
    <h3>We can help you accelerate your digital transforamtions</h3> 
  </div>
</div>

<!-- Tabs  -->
<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>
</div>

<br/>


<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12"><h4>Explore Our Programs</h4></div>
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12"><h4>Explore Our Programs</h4></div>
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
  </div>
</div>