
<br/>
<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12"><h4>News / Upcoming Events</h4></div>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-5">
      <!-- artigo em destaque -->
      <div class="featured-article">
        <a href="#">
					<img src="http://placehold.it/482x350" alt="" class="thumb">
				</a>
      </div>
      <!-- /.featured-article -->
    </div>
    <div c>
      <ul class="media-list main-list">
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- -->

<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center" style='font-size:23px; padding:0 100px;'>
        Accelerate Cisco's Digital Transformation through a workforce prepared with digital skills applied to work that accelerates
        <span class="mark">company growth</span> and customer success.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Success Stories</h1> 
    <p>here is the success stories .......</p> 
  </div>
</div>


<br/>
<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12"><h4>News / Upcoming Events</h4></div>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-5">
      <!-- artigo em destaque -->
      <div class="featured-article">
        <a href="#">
					<img src="http://placehold.it/482x350" alt="" class="thumb">
				</a>
      </div>
      <!-- /.featured-article -->
    </div>
    <div c>
      <ul class="media-list main-list">
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12"><h4>Explore Our Programs</h4></div>
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
  </div>
</div>
