<!-- NEWS COMPONENT -->

<div class="dmc-blade row full blowout spotlight-xl no-padding  pal-2" style="background-color:#049FD9">
    <div class="col full">
        <div class="dmr dmc-inpage-marquee var-1 light">
            <div class="marquee-image focal-C">
                <div id="cq-image-jsp-/content/en/us/partners/jcr:content/Grid/category_atl/layout-category-atl/marquee_inpage_e6cf/image"><img title="Making the world a healthier place" alt="Making the world a healthier place" class="cq-dd-image" src="http://www.cisco.com/c/en/us/partners/_jcr_content/Grid/category_atl/layout-category-atl/marquee_inpage_e6cf/image.img.jpg/1492013334922.jpg"></div>
            </div>
            <div class="marquee-content">
                <div class="content-non-blowout">
                    <h3>Making the world a healthier place</h3>
                    <p>Mercy Virtual is bringing better care to more patients in more places-and they're doing it with the help of the right partners.<br>
                    </p>
                    <a class="dmc-button atlantic pal-6" href="//www.cisco.com/c/m/en_us/never-better/wwt-mercy.html" data-config-metrics-group="Spotlight, XL" data-config-metrics-title="Making the world a healthier place" data-config-metrics-item="See the story" target="_blank">See the story</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QUOTE COMPONENT -->

<div class="row full blowout dmc-blade top-padding header-center description-center cta-center  Do not override" data-config-metrics-group="Blade" data-config-metrics-title="Already a partner?">
    <div class="col full">
        <div class="row full dmr">
            <div class="col full">
                <div class="blade-header">
                    <h2>Already a partner?</h2>
                </div>
                <div class="blade-description">
                    <p> Accelerate Cisco's Digital Transformation through a workforce prepared with digital skills applied to work that accelerates
        <span class="mark">company growth</span> and customer success.</p>

                </div>
            </div>
        </div>
        <div class="row halves ">
            
                <div class="col half">
                    

                </div>
            
                <div class="col half">
                    

                </div>
            
        </div>
    </div>
</div>

<!--SUCCESS STORIES -->
<!-- DM:components/html/htmlblob:V1.2.0 -->
<div class="row full blowout home-row-quicktasks" data-owner="ID">
    <div class="col full">

        <div class="row full" data-owner="ID">
            <div class="col full">

                <div class="dmc-home-quicktasks">
                    <h2>Employee Quick Tasks</h2>
                    <ul>
                        <li> <a href="http://wwwin-tools.cisco.com/dir/" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                data-config-metrics-item="Find People" class="icon"><span class="find-people"></span></a>
                            <a href="http://wwwin-tools.cisco.com/dir/" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                class="content">Find People</a></li>
                        <li> <a href="http://wwwin.cisco.com/c/cec/support/appdashboard.html#/" data-config-metrics-group="quick_tasks"
                                data-config-metrics-title="employees" data-config-metrics-item="Find Tools" class="icon"><span class="bugs"></span></a>
                            <a href="http://wwwin.cisco.com/c/cec/support/appdashboard.html#/" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                class="content">Find Tools</a></li>
                        <li> <a href="http://wwwin.cisco.com/c/cec/support/" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                data-config-metrics-item="Get Support" class="icon"><span class="get-support"></span></a>
                            <a href="http://wwwin.cisco.com/c/cec/support/" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                class="content">Get Support</a></li>
                        <li> <a href="http://estore.cisco.com/RequestCenter/servicecatalog/servicecatalog.do?route=category&amp;path=32-124"
                                data-config-metrics-group="quick_tasks" data-config-metrics-title="employees" data-config-metrics-item="Download Software"
                                class="icon"><span class="software-downloads"></span></a>
                            <a href="http://estore.cisco.com/RequestCenter/servicecatalog/servicecatalog.do?route=category&amp;path=32-124" data-config-metrics-group="quick_tasks"
                                data-config-metrics-title="employees" class="content">Download Software</a></li>
                        <li> <a href="https://cisco.jiveon.com/places?filterID=all" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                data-config-metrics-item="Find Communities" class="icon"><span class="support-community"></span></a>
                            <a href="https://cisco.jiveon.com/places?filterID=all" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                class="content">Find Communities</a></li>
                        <li> <a href="https://cisco.app.box.com/login" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees"
                                data-config-metrics-item="Share Documents" class="icon"><span class="share-documents"></span></a>
                            <a href="https://cisco.app.box.com/login" data-config-metrics-group="quick_tasks" data-config-metrics-title="employees" class="content">Share Documents</a></li>
                    </ul>
                </div>


            </div>
        </div>

    </div>
</div>

<!-- -->


<div class="col full">
    <div class="row full dmr">
        <div class="col full">
            <div class="blade-header">
                <h2 style='text-align:center; margin-top:24px;'>Browse our  Services</h2>
            </div>
            <div class="blade-description">

            </div>
        </div>
    </div>
    <div class="row quarters ">

        <div class="col quarter">

            <link rel="stylesheet" href="/etc/designs/cdc/dmr/tile/clientLib.min.css" type="text/css">
            <!-- DM:components/tile/tile:V1.5.0 -->
            <div class="dmr dmc-tile   ">

                <!--video code embedded lightbox-->
                <div class="media">


                    <div id="cq-image-jsp-/content/en/us/solutions/enterprise-networks/intelligent-wan/index/jcr:content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents/tile/image"><img title="Transport-independent design" alt="Transport-independent design" class="cq-dd-image" src="//www.cisco.com/c/en/us/solutions/enterprise-networks/intelligent-wan/index/_jcr_content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents/tile/image.img.png/1481709166456.png"></div>

                </div>
                <!-- video code embedded lightbox -->    
                <div class="content image">

                    <h3>Transport-independent design</h3>

                    <p>You can choose whatever combination of providers and connectivity works best for you. </p>

                    <ul class="cta">

                        <li>

                        <a href="/c/en/us/solutions/collateral/enterprise-networks/intelligent-wan/whitepaper-c11-734761.html" data-config-metrics-group="Tile" data-config-metrics-title="Transport-independent design" data-config-metrics-item="Learn benefits" class="text-cta">Learn benefits</a>

                        </li>

                    </ul>

                </div>
                <div style="clear: both; float: none;"></div>
            </div>
        </div>

        <div class="col quarter">

            <!-- DM:components/tile/tile:V1.5.0 -->
            <div class="dmr dmc-tile   ">

                <!--video code embedded lightbox-->
                <div class="media">


                    <div id="cq-image-jsp-/content/en/us/solutions/enterprise-networks/intelligent-wan/index/jcr:content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents1/tile/image"><img title="Intelligent path control" alt="Intelligent path control" class="cq-dd-image" src="//www.cisco.com/c/en/us/solutions/enterprise-networks/intelligent-wan/index/_jcr_content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents1/tile/image.img.png/1481709179220.png"></div>

                </div>
                <!-- video code embedded lightbox -->    
                <div class="content image">

                    <h3>Intelligent path control</h3>

                    <p>Automatically route network traffic to the best path to make sure applications perform well. </p>

                    <ul class="cta">

                        <li>

                        <a href="/c/en/us/solutions/enterprise-networks/intelligent-wan/pfr-and-qos.html" data-config-metrics-group="Tile" data-config-metrics-title="Intelligent path control" data-config-metrics-item="View demo" class="text-cta">View demo</a>

                        </li>

                    </ul>

                </div>
                <div style="clear: both; float: none;"></div>
            </div>
        </div>

        <div class="col quarter">

            <!-- DM:components/tile/tile:V1.5.0 -->
            <div class="dmr dmc-tile   ">

                <!--video code embedded lightbox-->
                <div class="media">


                    <div id="cq-image-jsp-/content/en/us/solutions/enterprise-networks/intelligent-wan/index/jcr:content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents2/tile/image"><img title="Application optimization" alt="Application optimization" class="cq-dd-image" src="//www.cisco.com/c/en/us/solutions/enterprise-networks/intelligent-wan/index/_jcr_content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents2/tile/image.img.png/1481709199460.png"></div>

                </div>
                <!-- video code embedded lightbox -->    
                <div class="content image">

                    <h3>Application optimization</h3>

                    <p>Add WAN optimization and caching to help applications run faster. </p>

                    <ul class="cta">

                        <li>

                        <a href="/c/en/us/solutions/enterprise-networks/intelligent-wan/waas-and-appnav.html" data-config-metrics-group="Tile" data-config-metrics-title="Application optimization" data-config-metrics-item="Watch demo" class="text-cta">Watch demo</a>

                        </li>

                    </ul>

                </div>
                <div style="clear: both; float: none;"></div>
            </div>
        </div>

        <div class="col quarter">

            <!-- DM:components/tile/tile:V1.5.0 -->
            <div class="dmr dmc-tile   ">

                <!--video code embedded lightbox-->
                <div class="media">


                    <div id="cq-image-jsp-/content/en/us/solutions/enterprise-networks/intelligent-wan/index/jcr:content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents3/tile/image"><img title="Secure connectivity" alt="Secure connectivity" class="cq-dd-image" src="//www.cisco.com/c/en/us/solutions/enterprise-networks/intelligent-wan/index/_jcr_content/Grid/subcategory_atl/layout-subcategory-atl/blade_0/bladeContents3/tile/image.img.png/1481709214367.png"></div>

                </div>
                <!-- video code embedded lightbox -->    
                <div class="content image">

                    <h3>Secure connectivity</h3>

                    <p>Block attacks with a highly secure VPN overlay and strong encryption techniques. </p>

                    <ul class="cta">

                        <li>

                        <a href="/c/en/us/solutions/collateral/enterprise-networks/intelligent-wan/white-paper-c11-732762.html" data-config-metrics-group="Tile" data-config-metrics-title="Secure connectivity" data-config-metrics-item="Read white paper" class="text-cta">Read white paper</a>

                        </li>

                    </ul>

                </div>
                <div style="clear: both; float: none;"></div>
            </div>
        </div>

    </div>
</div>

<!-- BE OUR PROGRAME END -->




<div class="dmc-blade row full blowout spotlight-xl no-padding  pal-2" style="background-color:#abcdef">
    <div class="col full">
        <div class="dmr dmc-inpage-marquee var-1 light">
            <div class="marquee-image focal-C">
                <div id="cq-image-jsp-/content/en/us/partners/jcr:content/Grid/category_atl/layout-category-atl/marquee_inpage_e6cf/image"><img title="Making the world a healthier place" alt="Making the world a healthier place" class="cq-dd-image" src="http://www.cisco.com/c/en/us/partners/_jcr_content/Grid/category_atl/layout-category-atl/marquee_inpage_e6cf/image.img.jpg/1492013334922.jpg"></div>
            </div>
            <div class="marquee-content">
                <div class="content-non-blowout">
                    <h3>Making the world a healthier place</h3>
                    <p>Mercy Virtual is bringing better care to more patients in more places-and they're doing it with the help of the right partners.<br>
                    </p>
                    <a class="dmc-button atlantic pal-6" href="//www.cisco.com/c/m/en_us/never-better/wwt-mercy.html" data-config-metrics-group="Spotlight, XL" data-config-metrics-title="Making the world a healthier place" data-config-metrics-item="See the story" target="_blank">See the story</a>
                </div>
            </div>
        </div>
    </div>
</div>