<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12"><h4>Explore Our Programs</h4></div>
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4">
        <img src="http://placehold.it/350x150" alt="" class="thumb">
        <p style ="text-align:justify; padding-right: 10px;"> The president may also be watching. Though he has scheduled a mid-day public appearance, President Trump may live tweet his reactions if he feels prompted to respond to Comey’s testimony, according to two White House officials who were not authorized to speak publicly.</p>
      </div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
      <div class="col-md-4 col-lg-4"><img src="http://placehold.it/350x150" alt="" class="thumb"></div>
  </div>
</div>



