<br/>
<!-- We can help you ...-->
<div class="container">
  <div class="jumbotron">
    <h3>We can help you accelerate your digital transforamtions</h3> 
  </div>
</div>

<!-- Tabs  -->
<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>
</div>

<br/>
<!-- success stories -->
<app-successstoriescomp [category]="'briefcase'"></app-successstoriescomp>

<!--WE can help you. -->
<app-exploreprogramcomp></app-exploreprogramcomp>

<!-- What Others are saying -->
<app-exploreprogramcomp></app-exploreprogramcomp>
