<!--- HEADER  -->

        <!--[if IE 8]><ie xmlns="html5"><![endif]-->
      <div id="fw-skiplinks">
            <!-- Remove this routerLink below line When routes module is removed -->
            <a >ABCD</a>
        <ul class="container">
            <li><a href="//www.cisco.com/c/en/us/index.html" tabindex="4">Home</a></li>
            <li><a href="#fw-content">Skip to content</a></li>
            <li><a href="#fw-footer" class="last">Skip to footer</a></li>
        </ul>
      </div>
      <script type="text/javascript">
        if (typeof cdc === 'undefined') {
            cdc = {};
        }
        if (typeof cdc.local === 'undefined') {
            cdc.local = {};
        }
        if (typeof cdc.local.wpx === 'undefined') {
            cdc.local.wpx = {};
        }

        var cookieInformerMsg = "&nbsp;";
        cdc.local.wpx.COOKIE_INFORMER_MESSAGE = (cookieInformerMsg === "&nbsp;" || cookieInformerMsg === "Cookie Informer Message") ? "" : cookieInformerMsg;


        var cookieInformerBtn = "&nbsp;";
        cdc.local.wpx.COOKIE_INFORMER_BUTTON_TITLE = (cookieInformerBtn === "&nbsp;" || cookieInformerBtn === "Cookie Informer Button Title") ? "" : cookieInformerBtn;


        if (typeof cdc === 'undefined') {
            cdc = {};
        }
        if (typeof cdc.emp === 'undefined') {
            cdc.emp = {};
        }
        cdc.emp['employees'] = "Employees";
        cdc.emp['accessRequired'] = "Vpn Access Required";
      </script>
      <style type="text/css">
        #employee-mm-item.disabled .emphover.active:after {
            content: "Vpn Access Required";
        }
      </style>
    <!-- begin: masthead -->
   <!--  {{fnameHeader}} {{lnameHeader}} {{isloggedInHeader}} {{levelHeader}} {{debugHeader}} -->

    <header id="fw-masthead" data-owner="ID">
        <div id="fw-banner">
            <!-- Start: utility links -->
            <nav id="fw-utility" data-owner="ID">
                <ul id="language">

                    <li class="no-pipe"><a href="//www.cisco.com/web/siteassets/locator/index.html">Worldwide [change]</a></li>
                </ul>
                <ul id="actions" class="guest-actions"> 
                    <li  *ngIf="isloggedInHeader === 'true'"  class="fw-welcome">Welcome, <span>{{fnameHeader}}&nbsp;{{lnameHeader}}</span></li>  <!-- http://www.cisco.com/c/login/index.html?referer=/c/en/us/index.html -->
                    <li  *ngIf="isloggedInHeader !== 'true'" class="fw-login-util"><a href="auth/assessment?{{qparams}}">Log In</a></li>  
                    <li class="fw-account-util"><a href="//www.cisco.com/web/siteassets/account/index.html">Account</a></li>
                    <li class="fw-register-util no-pipe"><a href="https://idreg.cloudapps.cisco.com/idreg/guestRegistration.do?referer=http://www.cisco.com/">Register</a></li>
                    <li *ngIf="isloggedInHeader === 'true'" class="fw-logout-util no-pipe"><a href="//www.cisco.com/autho/logout.html?ReturnUrl=//www.cisco.com/web/fw/lo/logout.html">Log Out</a></li>
                </ul>
                <div id="mycisco"><a href="//www.cisco.com/cisco/psn/web/workspace">My Cisco</a></div>
            </nav>
            <!-- End: utility links -->
            <button id="fw-treenavbutton" data-treenav="//www.cisco.com/c/dam/global/en_us/framework/treenav-employee.json">
            <span></span>
            <span></span>
            <span></span>
          </button>
            <a id="fw-logo" href="//www.cisco.com/c/en/us/index.html">
                <div>Cisco.com Worldwide Home</div>
            </a>
            <nav id="fw-areanav">
                <ul>
                    <li id="products-mm-item">
                        <a href="//www.cisco.com/c/en/us/products/index.html">Products &amp; Services</a>
                        <a href="//www.cisco.com/c/dam/global/en_us/framework/menu-content-employee.html#products-mm-menu" class="mm-reflink">(menu)</a>
                    </li>
                    <li id="support-mm-item">
                        <a href="//www.cisco.com/c/en/us/support/index.html">Support</a>
                        <a href="//www.cisco.com/c/dam/global/en_us/framework/menu-content-employee.html#support-mm-menu" class="mm-reflink">(menu)</a>
                    </li>
                    <li id="ordering-mm-item">
                        <a href="//www.cisco.com/c/en/us/buy.html">How to Buy</a>
                        <a href="//www.cisco.com/c/dam/global/en_us/framework/menu-content-employee.html#ordering-mm-menu" class="mm-reflink">(menu)</a>
                    </li>
                    <li id="training-mm-item">
                        <a href="//www.cisco.com/c/en/us/training-events.html">Training & Events</a>
                        <a href="//www.cisco.com/c/dam/global/en_us/framework/menu-content-employee.html#training-mm-menu" class="mm-reflink">(menu)</a>
                    </li>
                    <li id="partner-mm-item">
                        <a href="//www.cisco.com/c/en/us/partners.html">Partners</a>
                        <a href="//www.cisco.com/c/dam/global/en_us/framework/menu-content-employee.html#partner-mm-menu" class="mm-reflink">(menu)</a>
                    </li>
                    <li id="employee-mm-item" (mouseover)="setEmployeeLinkValue(true)" (mouseout)="setEmployeeLinkValue(false)">
                        <a  *ngIf="levelHeader === '4'" href="//wwwin.cisco.com/c/cec/index.html"  class="mm-emplink"><span class="emphover">Employees</span></a>
                        <!-- <a class="mm-reflink">(menu)</a> -->
                            <!-- <div class="mm-menu clb mm-us" id="employee-mm-menu" (mouseover)="setEmployeeLinkValue(true)" (mouseout)="setEmployeeLinkValue(false)">
                                <div class="mm-container" [style.visibility]="enableEmployeeLink===true?'visible':'hidden'"><span class="mms"><span class="mms-tc"></span><span class="mms-tr"></span><span class="mms-mr"></span><span class="mms-br"></span><span class="mms-bc"></span><span class="mms-bl"></span><span class="mms-ml"></span><span class="mms-tl"></span><span class="mms-mc"></span></span><span class="mmc"><span class="cbl"></span><span class="cbr"></span></span>
                                    <div class="mm-content">
                                        
                                    <h3 class="mm-h">Employee Connection</h3>
                                    
                                    <div class="mm-cols-1-1"> 
                                        <div class="mm-col">
                                            <div class="mm-sect">
                                                <ul>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/employee.html">Employee Services</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/learning.html">Career and Learning</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/support.html">Support and Tools</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/security.html">Security Information</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/news.html">News</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/elt.html">Executive Leadership Team</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/organizations.html">Organizations A-Z</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/locations.html">Theatres and Locations</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="mm-col">
                                            <div class="mm-sect">
                                                <h4>Navigation Tools</h4>
                                                <ul>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/prods-industry/products.html">Products A-Z</a></li>
                                                    <li><a href="http://wwwin-tools.cisco.com/dir/" class="mm-secure-noicon">Directory</a></li>
                                                    <form action="http://wwwin-tools.cisco.com/dir/empquery.go" class="">
                                                        <div class="mm-emp-searchdir poly">
                                                            <input type="text" name="q" id="c-directory-field" title="Search for an employee" autocomplete="off" onfocus="this.style.color='#333'; this.style.border='none';cdc.util.checkClear(this,'Search Directory');" placeholder="Search Directory">
                                                            <button id="cec-directory-go" class="mm-emp-searchdir-button" type="submit"></button>  
                                                        </div> 
                                                    </form>
                                                </ul>
                                                
                                        
                                                <h4>Top Links</h4>
                                                <ul>
                                                    <li><a href="http://cisco.jiveon.com/">Employee Communities (Jive)</a></li>
                                                    <li><a href="http://wwwin.cisco.com/c/cec/support/appdashboard.html#/">App Dashboard</a></li>
                                                    <li><a href="//www.cisco.com/web/applicat/emco/index.html" class="mm-secure-noicon">SC Apps Dir (Formerly EMCO)</a></li>
                                                    <li><a href="http://estore.cisco.com/RequestCenter/servicecatalog/servicecatalog.do?route=category&amp;path=32-59" target="_blank" class="mm-secure-noicon">Mobile Apps (eStore)</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p class="mm-overall">Visit <a href="http://wwwin.cisco.com/c/cec/index.html">Employee Connection</a></p>
                                    </div></div>
                                </div>
                            
                            
                            </div>-->
                    </li>
                </ul>
            </nav>
            <span class="search-entitlement">Guest</span>
            <section id="fw-search" role="search">
                <div id="search-drop-down">
                    <div class="contextual-search-top"></div>
                    <div id="autoSuggest"></div>
                    <div class="contextual-search-bot"></div>
                </div>
                <form name="sitewidesearch" action="https://search.cisco.com/search" method="get" accept-charset="UTF-8" id="sitewidesearch" class="tabs-searchResultsForm searchGlobal">
                    <div>
                        <label for="searchPhrase" name="search" id="search">Search</label>
                        <input type="search" name="query" class="inputSearchGlobal" id="searchPhrase" placeholder="Search" value="" tabindex="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                        <button value="Submit" type="submit" id="fw-search-button" tabindex="3"><div></div></button>
                    </div>
                    <input type="hidden" value="enUS" name="locale">
                    <input type="hidden" value="Cisco" name="tab">
                </form>
            </section>
            <button id="fw-searchbutton" tabindex="1"><div></div></button>
        </div>
    </header>
    <!-- ends: masthead -->
<!-- END: HEADER -->